<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbit.dao.BillMapper" >
  <resultMap id="BaseResultMap" type="com.jbit.entity.Bill" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="billCode" property="billCode" jdbcType="VARCHAR" />
    <result column="productName" property="productName" jdbcType="VARCHAR" />
    <result column="productDesc" property="productDesc" jdbcType="VARCHAR" />
    <result column="productUnit" property="productUnit" jdbcType="VARCHAR" />
    <result column="productCount" property="productCount" jdbcType="DECIMAL" />
    <result column="totalPrice" property="totalPrice" jdbcType="DECIMAL" />
    <result column="isPayment" property="isPayment" jdbcType="INTEGER" />
    <result column="createdBy" property="createdBy" jdbcType="BIGINT" />
    <result column="creationDate" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyBy" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="providerId" property="providerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billCode, productName, productDesc, productUnit, productCount, totalPrice, isPayment, 
    createdBy, creationDate, modifyBy, modifyDate, providerId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from smbms_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from smbms_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jbit.entity.Bill" >
    insert into smbms_bill (id, billCode, productName, 
      productDesc, productUnit, productCount, 
      totalPrice, isPayment, createdBy, 
      creationDate, modifyBy, modifyDate, 
      providerId)
    values (#{id,jdbcType=BIGINT}, #{billCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productDesc,jdbcType=VARCHAR}, #{productUnit,jdbcType=VARCHAR}, #{productCount,jdbcType=DECIMAL}, 
      #{totalPrice,jdbcType=DECIMAL}, #{isPayment,jdbcType=INTEGER}, #{createdBy,jdbcType=BIGINT}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{providerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jbit.entity.Bill" >
    insert into smbms_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billCode != null" >
        billCode,
      </if>
      <if test="productName != null" >
        productName,
      </if>
      <if test="productDesc != null" >
        productDesc,
      </if>
      <if test="productUnit != null" >
        productUnit,
      </if>
      <if test="productCount != null" >
        productCount,
      </if>
      <if test="totalPrice != null" >
        totalPrice,
      </if>
      <if test="isPayment != null" >
        isPayment,
      </if>
      <if test="createdBy != null" >
        createdBy,
      </if>
      <if test="creationDate != null" >
        creationDate,
      </if>
      <if test="modifyBy != null" >
        modifyBy,
      </if>
      <if test="modifyDate != null" >
        modifyDate,
      </if>
      <if test="providerId != null" >
        providerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="billCode != null" >
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="isPayment != null" >
        #{isPayment,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jbit.entity.Bill" >
    update smbms_bill
    <set >
      <if test="billCode != null" >
        billCode = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        productName = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        productDesc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null" >
        productUnit = #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null" >
        productCount = #{productCount,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        totalPrice = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="isPayment != null" >
        isPayment = #{isPayment,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        createdBy = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null" >
        creationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modifyBy = #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        providerId = #{providerId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jbit.entity.Bill" >
    update smbms_bill
    set billCode = #{billCode,jdbcType=VARCHAR},
      productName = #{productName,jdbcType=VARCHAR},
      productDesc = #{productDesc,jdbcType=VARCHAR},
      productUnit = #{productUnit,jdbcType=VARCHAR},
      productCount = #{productCount,jdbcType=DECIMAL},
      totalPrice = #{totalPrice,jdbcType=DECIMAL},
      isPayment = #{isPayment,jdbcType=INTEGER},
      createdBy = #{createdBy,jdbcType=BIGINT},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      providerId = #{providerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>